<html>
  <head>
    <title>Coomp</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>Coomp</h1>
    <div id="clear"></div>
    <form id="search" method="GET" action="/results">
      <input id="search_text" name="search_text" autocomplete="off"/>
      <button type="submit" id="submit" label="Buscar" name="submit" value="Go">
      Buscar
      </button>
    </form>
  </body>
</html>
